{% extends 'base/base.html' %}

{% block titulo %}Eliminar solicitud{% endblock %}
    
{% block content %}
<div class="col-md-12">
    <h3>Eliminar solicitud</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            <div class="form-group">
                <p>Confirmar la eliminacion del registro de {{ object.persona.nombre }}.</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'adopcion:lista_solicitud' %}" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}