{% extends 'base/base.html' %}

{% block titulo %}Solicitudes{% endblock %}
    
{% block content %}
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>No. solicitud</td>
                <td>Adoptante</td>
                <td>No. mascotas</td>
                <td>Razones</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for solicitud in object_list %}
            <tr>
                <td>{{ solicitud.id }}</td>
                <td>{{ solicitud.persona.nombre }} {{ solicitud.persona.apellidos }}</td>
                <td>{{ solicitud.numero_mascotas }}</td>
                <td>{{ solicitud.razones }}</td>
                <td>
                    <a href="{% url 'adopcion:editar_solicitud' solicitud.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'adopcion:eliminar_solicitud' solicitud.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h2>No hay registros de mascotas</h2>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="col-md-12">
    <div class="form-group">
        <ul class="pagination pagination-lg">
            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
            </li>
            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}