{% extends 'base/base.html' %}

{% block titulo %}
Recuperar contrasena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="col-md-12">
    <h3>Recuperar contrasena</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            <div class="form-group">
                <!--<label>Correo</label>
                {{ form.email }}-->
                <label for="email">Correo electronico</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" style="width: 100%;">Enviar</button>
            </div>
            <div class="form-group text-right">
                <a href="{% url 'login' %}">Iniciar sesion</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}