{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if validlink  %}
            <h4>Crear nueva contrasena</h4>
            <form method="POST">
                <div class="col-md-6">
                    {% csrf_token %}

                    {{ form.new_password1.errors }}
                    <label for="">Nueva contrasena</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="">Confirme contrasena:</label>
                    {{ form.new_password2 }}

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" style="width: 50%;">Cambiar contrasena</button>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </form>
        {% else %}

            <h4>El enlace ya fue utilizado.</h4>
        
        {% endif %}            
    </div>
{% endblock %}

{% block footer %}
{% endblock %}