{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <h4>Se ha enviado un correo con un enlace para restablecer la contrasena.</h4>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="{% url 'login' %}" class="btn btn-danger" style="width: 49%;">Login</a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}