{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}
Inicio
{% endblock %}

{% block content %}
<div class="col-md-12">
    <h3>Refugio de mascotas</h3>
</div>
<div class="col-md-6">
    <div class="card mb-6">
        <h3 class="card-header bg-primary">Mascotas</h3>
        <div class="text-center">
            <img style="width: 60px;" src='{% static "image/perro.png" %}' alt="Card image">
        </div>
        <div class="card-body">
            <p class="card-text">Mascotas del refugio esperando a ser adoptadas.</p>
        </div>
        <div class="card-body">
            <a href="{% url 'mascota:lista_mascota' %}" class="card-link">Mas informacion <i class="material-icons">launch</i></a>
        </div>
    </div>
    <br/>
    <div class="card mb-6">
        <h3 class="card-header bg-primary">Adopciones</h3>
        <div class="text-center">
            <img style="width: 60px;" src='{% static "image/adopcion.png" %}' alt="Card image">
        </div>
        <div class="card-body">
            <p class="card-text">Informacion para la adopcion de mascotas.</p>
        </div>
        <div class="card-body">
            <a href="{% url 'adopcion:lista_solicitud' %}" class="card-link">Mas informacion <i class="material-icons">launch</i></a>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card mb-6">
        <h3 class="card-header bg-primary">Registro de usuarios</h3>
        <div class="text-center">
            <img style="width: 60px;" src='{% static "image/usuarios.png" %}' alt="Card image">
        </div>
        <div class="card-body">
            <p class="card-text">Formulario de registro de usuarios.</p>
        </div>
        <div class="card-body">
            <a href="{% url 'usuario:registrar_usuario' %}" class="card-link">Mas informacion <i class="material-icons">launch</i></a>
        </div>
    </div>
</div>
{% endblock %}